# Programs on loops

In [1]:
#Program for factorial.
n = int(input("Enter a number for factorial: "))
fact = 1
for i in range(1,n+1):
    fact= fact * i
print(f"The factorail is {fact}")

Enter a number for factorial: 5
The factorail is 120

In [2]:
#Prgram for sum of 10 number of user input through list
list1 = list(map(int,input("Enter 10 number with space: ").strip().split()))
total = 0
for l in list1:
    total+=l
print(f"The sum of given numbers is {total}")

Enter 10 number with space: 1 2 3 4 5 6 7 8 9 10
The sum of given numbers is 55

In [3]:
#Program for sum of n natural numbers through user input
number =int(input("Enter a number: "))
total = 0
for i in range(number +1):
    total+=i
print(f"The sum of first {number} numbers is {total}")

Enter a number: 20
The sum of first 20 numbers is 210

In [4]:
#Program for adding all the even number from 1 to 100
even = list(range(0,101,2))
print(even)

total = 0
for e in range(len(even)):
    total+=even[e]
print('the total sum is' , total)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
the total sum is 2550

In [5]:
#Program for adding all the odd number from 1 to 100
odd = list(range(1,101,2))
print(odd)

total = 0
for o in range(len(odd)):
    total+=odd[o]
print('the total sum is' , total)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
the total sum is 2500

In [6]:
#Program for adding elemts in list through user input.
list1 = []
length = int(input("Enter the length of the list: "))
index =1
total = 0

for i in range(length):
    print("Enter list item number " + str(index) + ": ")
    data = int(input())
    list1.append(data)
    index+=1
print(list1)

for i in range(len(list1)):
    total += list1[i]
print("The sum of all the items in list is ",total)

Enter the length of the list: 5
Enter list item number 1:
2
Enter list item number 2:
4
Enter list item number 3:
6
Enter list item number 4:
8
Enter list item number 5:
10
[2, 4, 6, 8, 10]
The sum of all the items in list is  30

In [7]:
#Sum of 10 numbers from users
list1 = []
for i in range(10):
    data = int(input("Enter a number: "))
    list1.append(data)
    
total=0

for i in range(len(list1)):
    total+=list1[i]
print(total)

Enter a number: 2
Enter a number: 1
Enter a number: 3
Enter a number: 4
Enter a number: 6
Enter a number: 5
Enter a number: 7
Enter a number: 8
Enter a number: 9
Enter a number: 10
55

In [8]:
#Creating a friends list and printing the data inside the list with its index number.
list1=["Mithilesh","Deepak","Sneha","Pooja",
       "Ashish","Abhishek","kishor", "RohitM",
       "RohitP","Ganesh","Jyoti","Pradhnya",
       "Neeraj","Afreen","Nikita"]

for i in range(len(list1)):
    print("The index number is " + str(i) + " in friends list , is of " + list1[i])

The index number is 0 in friends list , is of Mithilesh
The index number is 1 in friends list , is of Deepak
The index number is 2 in friends list , is of Sneha
The index number is 3 in friends list , is of Pooja
The index number is 4 in friends list , is of Ashish
The index number is 5 in friends list , is of Abhishek
The index number is 6 in friends list , is of kishor
The index number is 7 in friends list , is of RohitM
The index number is 8 in friends list , is of RohitP
The index number is 9 in friends list , is of Ganesh
The index number is 10 in friends list , is of Jyoti
The index number is 11 in friends list , is of Pradhnya
The index number is 12 in friends list , is of Neeraj
The index number is 13 in friends list , is of Afreen
The index number is 14 in friends list , is of Nikita

In [9]:
#Creating a list named database and adding multiple nested list in database which contains username and password or your friends

database =[["Mithilesh",1233],["Deepak",2345],
           ["Sneha",3456],["Pooja",4567], 
           ["Ashish",5678],["Abhishek",6789],
           ["kishor",7890],["RohitM",8901],
           ["RohitP",8901],["Ganesh",9012],
           ["Jyoti",9112],["Pradhnya",1123],
           ["Neraj",3012],["Afreen",3201],
           ["Nikita",5487]]

for i in range(len(database)):
    print("The index number is " + str(i) + " in database is of Username: " + database[i][0] + " with Password: " + str(database[i][1]))

The index number is 0 in database is of Username: Mithilesh with Password: 1233
The index number is 1 in database is of Username: Deepak with Password: 2345
The index number is 2 in database is of Username: Sneha with Password: 3456
The index number is 3 in database is of Username: Pooja with Password: 4567
The index number is 4 in database is of Username: Ashish with Password: 5678
The index number is 5 in database is of Username: Abhishek with Password: 6789
The index number is 6 in database is of Username: kishor with Password: 7890
The index number is 7 in database is of Username: RohitM with Password: 8901
The index number is 8 in database is of Username: RohitP with Password: 8901
The index number is 9 in database is of Username: Ganesh with Password: 9012
The index number is 10 in database is of Username: Jyoti with Password: 9112
The index number is 11 in database is of Username: Pradhnya with Password: 1123
The index number is 12 in database is of Username: Neraj with Password: 3012
The index number is 13 in database is of Username: Afreen with Password: 3201
The index number is 14 in database is of Username: Nikita with Password: 5487

In [10]:
#Creating a list named database and adding multiple nested list in database which contains username and password or your friends

database =[["Mithilesh",1233],["Deepak",2345],
           ["Sneha",3456],["Pooja",4567], 
           ["Ashish",5678],["Abhishek",6789],
           ["kishor",7890],["RohitM",8901],
           ["RohitP",8901],["Ganesh",9012],
           ["Jyoti",9112],["Pradhnya",1123],
           ["Neraj",3012],["Afreen",3201],
           ["Nikita",5487]]

index = 0
for u,p in database:
    print("At index " ,index," in database, the username is ",u," and the password is ", p )
    index+=1

At index  0  in database, the username is  Mithilesh  and the password is  1233
At index  1  in database, the username is  Deepak  and the password is  2345
At index  2  in database, the username is  Sneha  and the password is  3456
At index  3  in database, the username is  Pooja  and the password is  4567
At index  4  in database, the username is  Ashish  and the password is  5678
At index  5  in database, the username is  Abhishek  and the password is  6789
At index  6  in database, the username is  kishor  and the password is  7890
At index  7  in database, the username is  RohitM  and the password is  8901
At index  8  in database, the username is  RohitP  and the password is  8901
At index  9  in database, the username is  Ganesh  and the password is  9012
At index  10  in database, the username is  Jyoti  and the password is  9112
At index  11  in database, the username is  Pradhnya  and the password is  1123
At index  12  in database, the username is  Neraj  and the password is  3012
At index  13  in database, the username is  Afreen  and the password is  3201
At index  14  in database, the username is  Nikita  and the password is  5487

In [11]:
#Program for verifing username password in database:

database = [['deepak', '1111'], ['sneha', '2222'], ['rohit', '3333'], ['pooja', '5555'],
 ['ragini', '6666'], ['kishor', '0007'], ['teacher', '8888'], ['mickey', '9999']]

for i in range(3):
    username = input('User Name: ')
    pin = input('Password: ')
    
    if([username.lower(), pin.lower()] in database):
        print('Access Granted ..... \n\n hi,' +username +'....,! \n Welcome to Mickey\'s programming world.')
        break
        
    elif([username.lower(), pin.lower()] not in database):
        print("Username & Password does not matched \n")
        
        if i ==2:
            print("You already took 3 atempts .Please try after 3 hours\n\n")
        else:
            print("Please try again\n\n")

User Name: mickey
Password: 1111
Username & Password does not matched

Please try again


User Name: deepak
Password: 9999
Username & Password does not matched

Please try again


User Name: mickey
Password: 99
Username & Password does not matched

You already took 3 atempts .Please try after 3 hours

In [12]:
#Program for prime number

n = int(input('Enter a number-: '))
c=0

for i in range(2,n):
    if(n%i==0):
        c=c+1
        break
if(c==0):
    print(f"{n} is a prime number")
else:
    print(f"{n} is not a prime number")

Enter a number-: 7
7 is a prime number

In [13]:
#Program for perfect number

n = int(input('Enter a number-: '))
tot=0
for i in range(1,n):
    if(n%i==0):
        tot=tot+i
        
if(tot==n):
    print(f"{n} is a perfect number")
else:
    print(f"{n} is not a perfect number")

Enter a number-: 6
6 is a perfect number

In [14]:
#Program for armstrong

n= int(input('Enter a Number-: '))
n1=n
n2=n
tot=0
d = 0      #d= len(str(n))  

while(n!=0):
    n=n//10
    d=d+1

while(n1!=0):
    rem = n1%10
    tot = tot + (rem**d)
    n1=n1//10

if(n2==tot):
    print(f"{n2} is Armstrong Number")
else:
    print(f"{n2} is not Armstrong Number")

Enter a Number-: 153
153 is Armstrong Number

In [15]:
#Program for strong number

n=int(input("Enter a number-: "))
n1=n

tot = 0
while(n!=0):
    rem = n % 10

    fact = 1
    for i in range(1,rem+1):
        fact = fact * i
    
    tot = tot + fact
    n=n//10


if(n1==tot):
    print(f"{n1} is strong no")
else:
    print(f"{n1} is not strong no")

Enter a number-: 145
145 is strong no

In [16]:
#Program for neon number

n=int(input("Enter a number-: "))

sq=n*n
tot=0

while(sq!=0):
    rem=sq%10
    tot = tot + rem
    sq = sq // 10

if(n==tot):
    print(f"{n} is Neon number")
else:
    print(f"{n} is not Neon number")

Enter a number-: 9
9 is Neon number

### Analyse deeply the above codes and keep learning.