In [1]:
row =4
for i in range(1,row+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

*
**
***
****

In [2]:
row =4
for i in range(1,row+1):
    for j in range(row,i-1,-1):
        print("*",end="")
    print()

****
***
**
*

In [3]:
row =4
for i in range(1,row+1):
    for j in range(1,i+1):
        print("*",end="")
    print()
for i in range(1,row+1):
    for j in range(row-1,i-1,-1):
        print("*",end="")
    print()

*
**
***
****
***
**
*

In [4]:
row =4
for i in range(1,row+1):
    for j in range(row-1,i-1,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end="")
    print()

   *
  **
 ***
****

In [5]:
row =4
for i in range(1,row+1):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(row,i-1,-1):
        print("*",end="")
    print()

 ****
  ***
   **
    *

In [6]:
row =4
for i in range(1,row+1):
    for j in range(row-1,i-1,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end="")
    print()

for i in range(1,row+1):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(row-1,i-1,-1):
        print("*",end="")
    print()

   *
  **
 ***
****
 ***
  **
   *

In [7]:
row =4
for i in range(1,row+1):
    for j in range(row-1,i-1,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")
    print()

   *
  * *
 * * *
* * * *

In [8]:
row =4
for i in range(1,row+1):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(row,i-1,-1):
        print("* ",end="")
    print()

 * * * *
  * * *
   * *
    *

In [9]:
row =4
for i in range(1,row+1):
    for j in range(row-1,i-1,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")
    print()

for i in range(1,row+1):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(row-1,i-1,-1):
        print("* ",end="")
    print()

   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [10]:
row =4
for i in range(1,row+1):
    for j in range(row-1,i-1,-1):
        print(" ",end="")
    for k in range(1,i*2):
        print("*",end="")
    print()

   *
  ***
 *****
*******

In [11]:
row =4
for i in range(1,row+1):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(row,i-1,-1):
        print("*",end="")
    for l in range(row-1,i-1,-1):
        print("*",end="")
    print()

 *******
  *****
   ***
    *

In [12]:
row =4
for i in range(1,row+1):
    for j in range(row-1,i-1,-1):
        print(" ",end="")
    for k in range(1,i*2):
        print("*",end="")
    print()

for i in range(1,row+1):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(row,i,-1):
        print("*",end="")
    for l in range(row-1,i,-1):
        print("*",end="")
    print()

   *
  ***
 *****
*******
 *****
  ***
   *

In [13]:
row =4
for i in range(1,row+1):
    for j in range(1,i+1):
        if(i==j):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*
 *
  *
   *

In [14]:
row =4
for i in range(1,row+1):
    for j in range(row,i-1,-1):
        if(i==j):
            print("*",end="")
        else:
            print(" ",end="")
    print()

   *
  *
 *
*

In [15]:
row =4
for i in range(1,row+1):
    for j in range(1,i+1):
        if(i==j):
            print("*",end="")
        else:
            print(" ",end="")
    print()

for i in range(1,row+1):
    for j in range(row-1,i-1,-1):
        if(i==j):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*
 *
  *
   *
  *
 *
*

In [16]:
row =4
for i in range(1,row+1):
    for j in range(row,i-1,-1):
        if(i==j):
            print("*",end="")
        else:
            print(" ",end="")
    print()
for i in range(2,row+1):
    for j in range(1,i+1):
        if(i==j):
            print("*",end="")
        else:
            print(" ",end="")
    print()

   *
  *
 *
*
 *
  *
   *

In [17]:
row =4
for i in range(1,row+1):
    for j in range(row-1,i-1,-1):
        print(" ",end="")
    for k in range(1,i*2):
        if(k>1 and k<(i*2)-1):
            print(" ",end="")
        else:
            print("*",end="")
    print()

   *
  * *
 *   *
*     *

In [18]:
row =4
for i in range(row,-1,-1):
    for j in range(row-1,i-1,-1):
        print(" ",end="")
    for k in range(1,i*2):
        if(k>1 and k<(i*2)-1):
            print(" ",end="")
        else:
            print("*",end="")
    print()

*     *
 *   *
  * *
   *

In [19]:
row=5
for i in range(1,row+1):
    for  j in range(1,row+1):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [20]:
row=5
for i in range(1,row+1):
    for j in range(1,row+1):
        if(i>=2 and j>=2 and i<=4 and j<=4):
            print(" ",end="")
        else:
            print("*",end="")
    print()

*****
*   *
*   *
*   *
*****

In [21]:
row=5
for i in range(0,row+1):
    for j in range(0,row):
        if(i==j or (i+j==row-1)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*   *
 * *
  *
 * *
*   *

In [41]:
row =5
for i in range(1,row+1):
    for j in range(1,i+1):
        print(f"{i} ",end="")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [40]:
row =5
for i in range(1,row+1):
    for j in range(1,i+1):
        print(f"{j} ",end="")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [39]:
row =5
for i in range(1,row+1):
    for j in range(i,0,-1):
        print(f"{j} ",end="")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [38]:
row =5
for i in range(1,row+1):
    for j in range(1,i+1):
        print(f"{j} ",end="")
    for k in range(i-1,0,-1):
        print(f"{k} ",end="")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [37]:
row =5
for i in range(1,row+1):
    for l in range(row,i-1,-1):
        print(" ",end=" ")
    for j in range(1,i+1):
        print(f"{j} ",end="")
    for k in range(i-1,0,-1):
        print(f"{k} ",end="")
    print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [35]:
row =5
x=1
for i in range(1,row+1):
    for j in range(1,i+1):
        print(f"{x} ",end="")
        x=x+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [34]:
row =5
x=1
for i in range(1,row+1):
    for j in range(1,i+1):
        if(x%2==0):
            print(f"{0} ",end="")
        else:
            print(f"{1} ",end="")
        x=x+1
    print()

1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [33]:
row=5
for i in range(1,row+1):
    no=i
    for j in range(1,i+1):
        print(f"{no} ",end="")
        no=no+row-j
    print()

1
2 6
3 7 10
4 8 11 13
5 9 12 14 15

In [32]:
row=5
for i in range(1,row+1):
    for j in range(row,i-1,-1):
        print(f"{j} ",end="")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [31]:
row=5
coef=1
for i in range(0,row):
    for k in range(row-1,i-1,-1):
        print(" ",end="")
    for j in range(0,i+1):
        if(j==0 or i==0):
            coef=1;
        else:
            coef=coef * (i-j+1)//j
        print(f"{coef} ",end="")
    print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1